{% extends 'events/base.html' %}



{% block content %}
	<center>
		<h1>Add Event </h1>
</center>

<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
     
    <article class="card-body">

<form action="{% url 'add_event' %}" method="POST">
	{% csrf_token %}

	<div class="form-row">
		<div class="col form-group mt-2">
			<label>Name:</label>
		  	{{ form.name }}
		</div> <!-- form-group end.// -->
		<div class="col form-group mt-2">
			<label>Venue:</label>
		  	{{ form.venue }}

		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->

	<div class="form-group mt-2">
		<label>Event Date(YYYY-MM-DD HH:MM:SS):</label>
		{{ form.event_date }}
	</div> <!-- form-group end.// -->
	
	{% if user.is_superuser %}
		<div class="form-group mt-2">
			<label>Manager:</label>
			{{ form.manager }}
		</div> <!-- form-group end.// -->
	{% endif %}
	
	<div class="form-group mt-2">
		<label> Attendees:</label>
		{{ form.attendees }}
	</div> <!-- form-group end.// --> 
	
	<div class="form-group mt-2">
		<label>Description:</label>
	    {{ form.description }}
	</div> <!-- form-group end.// -->  
	
	<div class="form-group mt-3 text-center">
		<button type="submit" class="btn btn-primary btn-block"> Add Event </button>
	</div> <!-- form-group// --> 
</form>
</article>
</div>


{% endblock %}